<div class="container">
  <mat-expansion-panel [(expanded)]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Sélectionnez vos couleurs :</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="color-pick-section" [formGroup]="color">
      <p><mat-checkbox class="check-box-color" formControlName="black">Noir</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="white">Blanc</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="brown">Brun</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="grey">Gris</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="red">Rouge</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="orange">Orange</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="green">Vert</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="blue">Bleu</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="pink">Rose</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="yellow">Jaune</mat-checkbox></p>
      <p><mat-checkbox class="check-box-color" formControlName="purple">Violet</mat-checkbox></p>
    </section>
    <button mat-raised-button color="primary" (click)="filter()" style="margin-right: 20px;">Filtre</button>
    <button mat-raised-button color="primary" (click)="showAll()" style="margin-right: 20px;">Tout voir</button>
    <button mat-raised-button color="primary" (click)="clear()">Effacer</button>
  </mat-expansion-panel>
  <br>
  <div class="card-wrapper" *ngFor="let t of theme">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{t.name}}</h2></mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="demo-photo" src={{t.img_url}} alt="demo photo">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goTo(t.url)" class="button-demo">Demo</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button (click)="scrollToTop()" mat-fab color="primary" aria-label="scoll to top button" class="button-scroll-top">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>